			html {
				background: black;
			}
			h1, h2, h3, h4, h5, h6 {
				font-family: Titillium Web, Arial, sans-serif;
				text-transform: uppercase;
				color: #8acbf1;
				padding: 0;
				margin: 0;
			}
			h1 {
				font-size: 4rem;
				font-weight: bold;
				color: #8acbf1;
				padding: 0;
			}
			h2 {
				font-size: 2.8rem;
				color: #218a24;
				padding: 0;
			}
			h3 {
				color: #8acbf1;
				font-size: 2rem;
				background-color: #0c05e0;
				border-radius: 10px;
				padding: .5rem;
			}
			h4 {
				font-size: 1.4rem;
				color: #5a5692;
			}
			p {
				margin: 1rem;
			}
			body {
				max-width: 1280px;
				font-family: Arial, Helvetica, serif;
				color: #5a5692;
				font-size: 1.4rem;
				width: 100%;
				margin: 0rem auto;
			}
			img {
				display: block;
				max-width: 100%;
				height: auto;
				border: solid 6px #0c05e0;
				border-radius: 10px;
			}

			nav {
				box-sizing: border-box;
				background: #0C2A72;
				display: flex;
				justify-content: flex-end;
	      		top: 0;
	      		margin: auto;
	      		margin-top: 0;
	      		margin-bottom: 0px;
	      		padding: 0rem;
	      		justify-content: space-between;
				align-items: flex-end; 
				border: solid 6px #0c05e0;
				border-radius: 20px;
			}


			main {
				box-sizing: border-box;
				max-width: 1280px;
				margin: auto;
				margin-top: 0;
				clear: both;
			}
			header {
				margin: 0;
				margin-top: .8rem;
				padding: 0;
				padding-left: 1rem;
				border: solid 6px #0c05e0;
				border-top-right-radius: 20px;
				border-top-left-radius: 20px;
				border-bottom-right-radius: 0px;
				border-bottom-left-radius: 0px;
			}
			table {
				text-align: center;
			}
			tr {
			}
			th {
				margin: 5rem;
				padding: .5rem;
			}
			td {
				color: white;
				margin: 5rem;
				padding: .5rem;
			}
			section {
	      		margin: 0;
	      		border: solid 6px #0c05e0;
			}
			footer {
				color: #8acbf1;
				background: #0C2A72;
				max-width: 1280px;
				margin: auto;
				margin-top: 0;
				margin-bottom: .8rem;
				padding: 0;
				padding-left: 1rem;
				border: solid 6px #0c05e0;
				border-top-right-radius: 0px;
				border-top-left-radius: 0px;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
	
			}

    		.bulletlogo {
    			width: auto;
				height: 9rem;
				border: solid 6px #0c05e0;
				border-radius: 20px;
				margin: -6px;
    		}
    		.indexheader {
    			box-sizing: border-box;
				text-align: center;
      		}

			.text {
				padding: 1rem;
				border: solid 6px #0c05e0;
				border-bottom-right-radius: 20px;
				border-bottom-left-radius: 20px;
			}

			.noborder-pic {
				border: none;
			}

button {
	height: 2.7rem;
	width: 15rem;
	color: black;
	font-family: Titillium Web, Arial, sans-serif;
  	border: none;
  	margin: .35rem;
  	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #98fa63;
	padding: 5px 25px;
	border-radius: 10px;
}

button:hover {
	background-color: red;
	color: black;
}
button:active {
	color: red;
}
button:focus {
	background-color: #98fa63;
	color: black;
	border-radius: 10px;
}

